<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Home</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
    <div>
        <li>
        <div>ID: {{this.id}}</div>
        <div>Titulo: {{this.title}}</div>
        <div>Descripcion: {{this.description}}</div>
        <div>Codigo: {{this.code}}</div>
        <div>Precio: ${{this.price}}</div>
        <div>Status: {{this.status}}</div>
        <div>Stock: {{this.stock}}</div>
        <div>Categoria: {{this.category}}</div>
        <div>Imagen: {{this.thumbnails}}</div>
        </li>
    </div>
    {{/each}}
  </ul>
</body>
</html>
